version: "3.9"

services:
  mysql:
    image: mysql:8.0
    container_name: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 12345
      MYSQL_DATABASE: InZightApp
    ports:
      - "3307:3306"   # Host (IntelliJ) sẽ connect qua localhost:3307
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - app_network
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "127.0.0.1", "-uroot", "-p12345"]
      interval: 5s
      timeout: 3s
      retries: 20
      start_period: 10s

  redis:
        image: redis:7.2-alpine
        container_name: redis
        restart: always
        ports:
          - "6379:6379"     # Spring Boot sẽ connect qua localhost:6379
        volumes:
          - redis_data:/data
        command: [ "redis-server", "--appendonly", "yes" ]  # Lưu data bền trong volume
        networks:
          - app_network
        healthcheck:
          test: [ "CMD", "redis-cli", "ping" ]
          interval: 3s
          timeout: 3s
          retries: 10

volumes:
  mysql_data:
  redis_data:

networks:
  app_network:
    driver: bridge
