spring:
    datasource:
        url: jdbc:mysql://localhost:3307/InZightApp?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC&characterEncoding=utf8
        username: root
        password: 12345
        driver-class-name: com.mysql.cj.jdbc.Driver

    jpa:
        hibernate:
            ddl-auto: update
        show-sql: true
        properties:
            hibernate:
                format_sql: true
        defer-datasource-initialization: true

    sql:
        init:
            mode: never
            schema-locations: classpath:schema.sql
            data-locations: classpath:data.sql


server:
    port: 8080

springdoc:
    api-docs:
        enabled: true
        path: /v3/api-docs
    swagger-ui:
        enabled: true
        path: /swagger-ui.html
        tags-sorter: alpha
app:
    icon-base-url: /icons/
